<h3>Minesweeper</h3>
<br>
<table>
	<tr><td><button ng-click=verifyMine(1)>{{verify[0]}}</button></td><td><button ng-click=verifyMine(2)>{{verify[1]}}</button></td><td><button ng-click=verifyMine(3)>{{verify[2]}}</button></td></tr>
	<tr><td><button ng-click=verifyMine(4)>{{verify[3]}}</button></td><td><button ng-click=verifyMine(5)>{{verify[4]}}</button></td><td><button ng-click=verifyMine(6)>{{verify[5]}}</button></td></tr>
	<tr><td><button ng-click=verifyMine(7)>{{verify[6]}}</button></td><td><button ng-click=verifyMine(8)>{{verify[7]}}</button></td><td><button ng-click=verifyMine(9)>{{verify[8]}}</button></td></tr>
</table>
<span style="color:red;font-weight: bolder">{{explode}}</span>
<div>
  <br><a href="#/" class="kataFont">Home</a>
</div>
